

block content
  div#map(style='height: 100%;')

script(src='/js/lib/map.js')
script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQykmFj-WCBcgI0Pd2mJkBa-RF7r08weU&callback=initMap" async defer)